/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/
body {
    font-family: "Nerko One";
    background-color: #add8e6;
}

.container {
    background-color: #add8e6;
    width: 65%;
    margin: auto;
}

/*header*/
h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}
/*fine header*/

/*main*/
.riga {
    text-align: center;
}

.card {
    overflow: hidden;
    padding: 20px;
    height: 180px;
    width: 160px;
    display: inline-block;
    background-color: white;
    margin: 10px;
    border-radius: 5px
}

img {
    width: 100%;
    position: relative;
}

.text {
    position: relative;
    font-size: 28px;
    display: inline-block;
    bottom: 7px;
    color: #e67918;
}
/*fine main*/

/*footer*/
footer {
    text-align: center;
}
/*finefooter*/