/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/
body {
    font-family: "Nerko One";
    background-color: #add8e6;
}

.container {
    background-color: #add8e6;
    width: 65%;
    margin: auto;
}

/*header*/
h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}
/*fine header*/

/*main*/
.riga {
    text-align: center;
}

.card {
    overflow: hidden;
    background-image: url(../img/pattern.png);
    background-size: contain;
    padding: 20px;
    height: 180px;
    width: 160px;
    display: inline-block;
    background-color: white;
    margin: 10px;
    border-radius: 5px
}

.card img {
    display: none;
}

.card:hover {
    background-image: none;
}

.card:hover img {
    display: block;
}

img {
    width: 100%;
    position: relative;
}

.card h2 {
    display: none;
}

.card:hover h2 {
    display: block;
}

h2{
    position: relative;
    font-size: 26px;
    display: inline-block;
    color: #e67918;
}

/*fine main*/

/*footer*/
footer {
    text-align: center;
}
/*finefooter*/